/YihuaH5Test/node_modules/
/YihuaH5Test/test/
/YihuaH5Test/.idea/
/YiHuaProgram/.gradle/
/YiHuaProgram/.idea/
/YiHuaProgram/app/build/
/YiHuaProgram/app/huke.jks
/YiHuaProgram/appupdateX/build/
/YiHuaProgram/tdialog/build/